.login{
    width: 100%;
    height:80vh;
    background: #ffffff;
    padding-top: 100px;
}

.login-container{
    width: 580px;
    height: 550px;
    background: rgb(50, 90, 58);
    margin: auto;
    padding: 40px 60px;
    border-radius:30px;
}

.login-container h1{
    margin: 20px 0;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.login-fields input {
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    border-radius: 20px;
}

.login-container button {
    width: 600px;
    height: 72px;
    color:white;
    background: rgb(146, 56, 0);
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
}

.login-login {
    margin-top: 20px;
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 500;
}

.login-login span {
    color: rgb(146, 56, 0);
    cursor: pointer;
    
}

.login-agree {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 70px;
    gap: 20px;
    color : #f8f8f8;
    font-size: 18px;
    font-weight: 500;
}